
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="{{ url_for('static',filename= 'styles.css')}}">
</head>
</body>
 <div class="container">
    <h1>Preksha</h1>
    <h2>web developer [AI/DS Enthusiast]
        Android developer
    </h2>
    <img src="{{ url_for('static',filename= '55.png') }}">
    <a href="/">more about me</a>
 </div>
    </body>
</html>
# shift ! basic code will be displayed